@import "variable.styl"

body, html
  line-height: 1
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,
  PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,
  WenQuanYi Micro Hei,sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background